.body-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}
.mobile-screen {
  display: grid;
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
  border: 15px solid black;
  background-color: #868686;
}
.parent-button {
  position: absolute;
  display: grid;
  padding: 8px;
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.parent-form {
  display: grid;
  gap: 10px;
  margin: 50px;
  background-color: #868686;
  padding: 30px;
  height: fit-content;
  align-self: center;
  border-radius: 20px;
}
.form-row {
  display: grid;
  grid-auto-flow: column;
  gap: 60px;
}
.form-input-label {
  display: grid;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.form-input-parent {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 8px;
}
.form-input {
  outline: none;
  height: 40px;
  display: grid;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 0px 12px;
}
